/* Reset */
.usuarios-container {
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
}

.usuarios-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.usuarios-header h2 {
  color: #004e64;
  margin-bottom: 10px;
}

/* Filtros */
.usuarios-filtros {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
 
}

.usuarios-filtros input {
  padding: 5px 10px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
   height: 35px;
}

.usuarios-filtros select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 150px;
  height: 35px;
  margin-bottom: 6px;
}

.btn-usuario {
  background-color: #07718e;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 45px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.btn-add:hover {
  background-color: #00748d;
}

.usuarios-lista {
  background-color: #eaf3f7;
  border-radius: 10px;
  padding: 15px;
  margin: 0 250px 0 250px;
  display: grid;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 600px;
}

.usuario-row {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 2px;
}

.usuario-borda {
  width: 8px;
  border-radius: 4px 0 0 4px;
}

.usuario-borda.professor {
  background-color: #4db5ff;
}

.usuario-borda.secretaria {
  background-color: #0062c5;
}

.usuario-borda.aluno {
  background-color: #e6a23c;
}

.usuario-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  flex: 1;
}

.usuario-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* 7 colunas */
  gap: 10px;
  align-items: center;
  width: 100%;
}

.usuario-info span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usuario-acoes {
  display: flex;
  gap: 0.75rem;
  margin: 0 10px;
}

.usuario-acoes button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #004e64;
  transition: 0.2s;
}

.usuario-acoes button:hover {
  color: #00bcd4;
}

.sem-usuarios {
  padding: 1rem;
  text-align: center;
  color: #777;
}